//
// Forms
//

input, select, textarea {
	border-radius: 3px;
	font-size: 12px;
	width: 100%;
	background: none;
	box-shadow: none;
	color: $editor-darkest;
	border: 1px solid;
	outline: none;

	&:not(:focus) {
		border-color: $editor-lightest;
	}

	&:focus {
		border-color: $editor-light;
	}
}

.elementor-error {

	input, select, textarea {
		border-color: $editor-warning;
	}
}

input, textarea {
	padding: 5px 8px;
}

textarea {
	resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
	border: 1px solid $editor-lightest;
	background: #fff;
	color: #555;
	clear: none;
	cursor: pointer;
	display: inline-block;
	line-height: 0;
	height: 16px;
	margin: -4px 4px 0 0;
	outline: 0;
	text-align: center;
	vertical-align: middle;
	width: 16px;
	min-width: 16px;
	transition: .05s border-color ease-in-out;
	&:focus {
		border-color: $editor-light;
	}
}

input[disabled] {
	background-color: $editor-background;
	cursor: not-allowed;
	opacity: 1;
}

select {
	height: 26px;
}

// ACE Code Editor
.elementor-control-code-wrapper {
	.elementor-code-editor {
		width: 100%;
		min-height: 150px;
		border: 1px solid $editor-lightest;
		border-radius: 3px;
		font-size: 12px;

		.ace_gutter {
			background: $editor-background;
		}

		// Highlight for "selector" keyword
		.ace_selector_highlight {
			color: $editor-accent;
		}
	}
}

.elementor-control-_custom_css_description pre {
	padding: 15px;
	border-left: 3px solid $editor-accent;
	position: relative;
	font-size: 10px;
	font-weight: 300;
	font-style: italic;
	line-height: 1.5;
	text-align: left;
	border-radius: 0 3px 3px 0;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .07);
	background-color: $editor-background;
	overflow: hidden;
}