.elementor-control-type-slider {
  .elementor-control-input-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;

    .elementor-slider {
      display: inline-block;
      height: 4px;
      background-color: $editor-light;
      border-radius: 5px;
      position: relative;
      min-width: 70%;


      .ui-slider-handle {
        height: 16px;
        width: 16px;
        background-color: #fff;
        display: inline-block;
        top: 50%;
        transform: translateY(-50%) translateX(-8px);
        position: absolute;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .elementor-slider-input {
      flex-grow: 1;
      input {

      }
    }

  }
}