.elementor-control-type-tabs {
  display: flex;
  text-align: center;
  align-items: center;

  .elementor-control-type-tab {
    flex-grow: 1;
    font-size: 12px;
    transition: all .5s;
    cursor: pointer;
    line-height: 26px;
    padding: 0;
    border: 1px solid $editor-light;

    &:first-child {
      border-radius: 3px 0 0 3px;
      border-right: none;
    }

    &:last-child {
      border-radius: 0 3px 3px 0;
      border-left: none;
    }

    &.elementor-tab-active {
      background-color: $editor-light;
      color: $white;
    }
  }
}

.elementor-tab-close {
  display: none !important;
}