.elementor-control-type-text_shadow {
	padding-block: 15px 40px;

	.elementor-control-input-wrapper {
		overflow: hidden;
	}

	.elementor-text-shadow-slider {
		margin-top: 10px;
	}

	&:before,
	&:after {
		content: "";
		height: 15px;
		position: absolute;
		left: 0;
		width: 100%;
		pointer-events: none;
	}

	&:before {
		top: 0;
		background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.1));
		border-top: 1px solid $editor-lightest;
	}

	&:after {
		bottom: 15px;
		background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1));
		border-bottom: 1px solid $editor-lightest;
	}
}
