#elementor-navigator {
  position: fixed;
  top: 100px;
  width: 240px;
  height: 339px;
  right: 30px;
  background-color: #fff;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  user-select: none;
  overflow: hidden;
  z-index: 2;
  display: none;

  &.elementor-navigator--open {
    display: block;
  }
}

body {
  &.elementor-navigator-docked #elementor-navigator {
    top: 0;
    right: 0;
    height: 100%;
  }

  &:not(.elementor-navigator-docked) #elementor-navigator {
    border-radius: 5px;
  }
}

#elementor-navigator__inner {
  height: 100%;
  background-color: #e6e9ec;
}

#elementor-navigator__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 10px;
  background-color: #fff;
  border-bottom: 1px solid #e6e9ec;
  cursor: move;

  #elementor-navigator__close,
  #elementor-navigator__toggle-all {
    transition: color 0.5s;
    cursor: pointer;

    &:not(:hover) {
      color: #a4afb7;
    }
  }

  #elementor-navigator__toggle-all {
    font-size: 13px;
  }

  #elementor-navigator__close {
    font-size: 11px;
  }
}

#elementor-navigator__elements {
  height: calc(100% - 49px);
  overflow: auto;
  position: relative;

  .elementor-nerd-box {
    padding: 25px;
  }

  .elementor-empty-view {
    padding: 10px;
    border-bottom: 1px solid #e6e9ec;

    &__title {
      margin-left: 23px;
      color: #c2cbd2;
      font-size: 10px;
      font-style: italic;
    }
  }

  .ui-sortable-helper {
    background-color: #fff;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
    transform: rotate(4deg);
    border: 1px solid #e6e9ec;
    pointer-events: none;
  }

  .ui-sortable-placeholder {
    background-color: #f1f3f5;
  }
}

.elementor-navigator-docked #elementor-navigator__elements {
  height: calc(100% - 35px);
}

#elementor-navigator__footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #e6e9ec;
  color: #a4afb7;

  .elementor-navigator-docked & {
    display: none;
  }
}

.elementor-navigator__item {
  position: relative;
  display: flex;
  height: 30px;
  font-size: 11px;
  border-bottom: 1px solid #e6e9ec;
  cursor: pointer;
  transition: padding 0.5s linear;
  overflow: hidden;
  padding-left: 10px;

  &:not(.elementor-active) .elementor-navigator__element__list-toggle i {
    transform: rotate(-90deg);
  }

  > * {
    display: flex;
    align-items: center;
  }

  & + .elementor-navigator__elements {
    display: none;
  }

  & +.elementor-navigator__elements .elementor-navigator__item {
    padding-left: 20px;

    & +.elementor-navigator__elements .elementor-navigator__item {
      padding-left: 30px;
    }
  }
}

.elementor-navigator__element {
  &.elementor-dragging-on-child {
    > .elementor-navigator__elements > .elementor-empty-view {
      border-top: 2px solid #71d7f7;

      .elementor-empty-view__title {
        display: none;
      }

      + .ui-sortable-placeholder {
        display: none;
      }
    }
  }

  &:not(.elementor-navigator__element--has-children) .elementor-navigator__element__list-toggle {
    visibility: hidden;
  }

  &:not(.elementor-navigator__element--hidden) {
    > .elementor-navigator__item {
      .elementor-navigator__element__toggle {
        color: #71d7f7;
      }

      &:not(:hover) .elementor-navigator__element__toggle {
        display: none;
      }

      &.elementor-editing {
        background-color: #71d7f7;

        > * {
          color: #fff;
        }
      }
    }
  }

  &--hidden {
    .elementor-navigator__element__title,
    .elementor-navigator__element__toggle {
      opacity: 0.5;
    }
  }

  &-column {
    background-color: #fafbfb;

    > .elementor-navigator__item .elementor-navigator__element__element-type {
      color: #a4afb7;
    }
  }

  &-section {
    background-color: #fff;
  }
}

.elementor-navigator__element__list-toggle {
  margin-right: 7px;
  transition: transform 0.3s;
  color: #a4afb7;
}

.elementor-navigator__element__element-type {
  margin-right: 8px;
}

.elementor-navigator__element__title {
  flex-grow: 1;
  overflow: hidden;

  &__text {
    white-space: nowrap;
    user-select: text;

    &[contenteditable='true'] {
      outline: none;
      color: #6d7882;
      background-color: #fff;
      padding: 2px 3px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    }

    &:not([contenteditable='true']) {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.elementor-navigator__element__toggle {
  position: absolute;
  right: 15px;
  height: 100%;
  z-index: 0;
  font-size: 13px;
}

.elementor-navigator__element__indicators {
  position: relative;
  transition: transform 0.5s;
  padding-left: 5px;
  z-index: 91;

  &:not(:hover) {
    transform: translateX(calc(100% - 8px));
  }

  .elementor-navigator__element__indicator {
    height: 100%;
    width: 31px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #6d7882;
    background-color: #fff;
    border-left: 1px solid #e6e9ec;

    &:first-child {
      border-left: 3px solid #71d7f7;
    }

    .elementor-editing & :first-child {
      border-color: #41c9f4;
    }

    &:hover {
      color: #495157;
    }
  }
}