//
// Button
//

.elementor-button {
	display: inline-block;
	text-align: center;
	transition: $transition-hover;

	&.elementor-size- {
		&small {
			font-size: 13px;
			padding: 10px 20px;
		}
		&medium {
			font-size: 15px;
		}
		&large {
			font-size: 16px;
			padding: 15px 30px;
		}
		&xl {
			font-size: 18px;
			padding: 20px 40px;
		}
		&xxl {
			font-size: 20px;
			padding: 25px 50px;
		}
	}

	.elementor-align-icon- {

		&right {
			float: right;
			margin-left: 5px;
		}
		&left {
			float: left;
			margin-right: 5px;
		}
	}

	.elementor-button-text {
		display: inline-block;
	}
}

.elementor-button-wrapper {
	&.elementor-align-justify > .elementor-btn {
		width: 100%;
	}

	@media (max-width: 767px) {
		&.elementor-mobile-align-justify > .elementor-btn {
			width: 100%;
		}
	}

	@media (max-width: 1023px) {
		&.elementor-tablet-align-justify > .elementor-btn {
			width: 100%;
		}
	}
}