.elementor-widget-call-to-action {
  .elementor-widget-container {
    overflow: hidden;
  }
}

.elementor-cta {
  position: relative;
  display: flex;
  /*overflow: hidden;*/

  &-content {
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 35px;
    width: 100%;
    position: relative;
  }

  .elementor-content-item {
    position: relative;
    width: 100%;
    margin: 0;
  }

  &-bg,
  &-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.4s;
  }

  &-bg-wrapper {
    z-index: 1;
    overflow: hidden;

    img.elementor-cta-bg {
      width: 100%;
      height: 100%;
      border-radius: 0;
      object-fit: cover;
      z-index: 1;
    }
  }

  &-bg-overlay {
    z-index: 2;
  }

  .elementor-button {
    cursor: pointer;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }

  &-title {
    font-size: 23px;
  }

  &-valign-top {
    .elementor-cta-content {
      align-content: flex-start;
      align-items: flex-start;
    }
  }

  &-valign-middle {
    .elementor-cta-content {
      align-content: center;
      align-items: center;
    }
  }

  &-valign-bottom {
    .elementor-cta-content {
      align-content: flex-end;
      align-items: flex-end;
    }
  }

  &:hover {
    .elementor-cta-bg-overlay {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.elementor-cta-skin-classic {
  .elementor-cta {
    flex-wrap: wrap;
  }

  .elementor-cta-bg-wrapper {
    position: relative;
    width: 100%;
  }

  .elementor-cta-content {
    transition: all 0.4s;
    width: 100%;
  }
}

.elementor-cta-skin-cover {
  .elementor-cta {
    display: block;
  }

  .elementor-cta-bg-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.4s;
    width: 100%;
  }

  .elementor-cta-content {
  }

  .elementor-content-item,
  .elementor-content-item .elementor-icon {
    color: #fff;
  }
}

.elementor-cta-layout-image-above {
  .elementor-cta {
    flex-wrap: wrap;
  }

  .elementor-cta-bg-wrapper {
    width: 100%;
  }
}

.elementor-cta-layout-image-left,
.elementor-cta-layout-image-right {
  .elementor-cta {
    flex-wrap: nowrap;
  }

  .elementor-cta-bg-wrapper {
    width: auto;
    min-width: 50%;
  }

  .elementor-cta-content {
    flex-grow: 1;
  }
}

.elementor-cta-layout-image-left {
  .elementor-cta {
    flex-direction: row;
  }
}

.elementor-cta-layout-image-right {
  .elementor-cta {
    flex-direction: row-reverse;
  }
}

@media (min-width: 1025px) {
  .elementor-cta-desktop-layout-image-above {
    .elementor-cta {
      flex-wrap: wrap;
    }

    .elementor-cta-bg-wrapper {
      width: 100%;
    }
  }

  .elementor-cta-desktop-layout-image-left,
  .elementor-cta-desktop-layout-image-right {
    .elementor-cta {
      flex-wrap: nowrap;
    }

    .elementor-cta-bg-wrapper {
      width: auto;
      min-width: 50%;
    }

    .elementor-cta-content {
      flex-grow: 1;
    }
  }

  .elementor-cta-desktop-layout-image-left {
    .elementor-cta {
      flex-direction: row;
    }
  }

  .elementor-cta-desktop-layout-image-right {
    .elementor-cta {
      flex-direction: row-reverse;
    }
  }
}

@media (max-width: 1024px) {
  .elementor-cta-tablet-layout-image-above {
    .elementor-cta {
      flex-wrap: wrap;
    }

    .elementor-cta-bg-wrapper {
      width: 100%;
    }
  }

  .elementor-cta-tablet-layout-image-left,
  .elementor-cta-tablet-layout-image-right {
    .elementor-cta {
      flex-wrap: nowrap;
    }

    .elementor-cta-bg-wrapper {
      width: auto;
      min-width: 50%;
    }

    .elementor-cta-content {
      flex-grow: 1;
    }
  }

  .elementor-cta-tablet-layout-image-left {
    .elementor-cta {
      flex-direction: row;
    }
  }

  .elementor-cta-tablet-layout-image-right {
    .elementor-cta {
      flex-direction: row-reverse;
    }
  }
}

@media (max-width: 767px) {
  .elementor-cta-mobile-layout-image-above {
    .elementor-cta {
      flex-wrap: wrap;
    }

    .elementor-cta-bg-wrapper {
      width: 100%;
    }
  }

  .elementor-cta-mobile-layout-image-left,
  .elementor-cta-mobile-layout-image-right {
    .elementor-cta {
      flex-wrap: nowrap;
    }

    .elementor-cta-bg-wrapper {
      width: auto;
      min-width: 50%;
    }

    .elementor-cta-content {
      flex-grow: 1;
    }
  }

  .elementor-cta-mobile-layout-image-left {
    .elementor-cta {
      flex-direction: row;
    }
  }

  .elementor-cta-mobile-layout-image-right {
    .elementor-cta {
      flex-direction: row-reverse;
    }
  }
}