//
// Heading
//

.elementor-widget {
	.elementor-heading-title {
		padding: 0;
		margin: 0;
		line-height: 1;

		&.elementor-size- {
			&small {
				font-size: 15px;
			}
			&medium {
				font-size: 19px;
			}
			&large {
				font-size: 24px;
			}
			&xl {
				font-size: 32px;
			}
			&xxl {
				font-size: 40px;
			}
		}
	}
}
