/* Error: Undefined mixin.
 *    ,
 * 14 |     @include margin-end(5px);
 *    |     ^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   social-icons.scss 14:2  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 14 \2502      @include margin-end(5px);\a    \2502      ^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   social-icons.scss 14:2  root stylesheet";
}
