//
// testimonial
//
.elementor-testimonial-wrapper {
	overflow: hidden;
	text-align: center;

	.elementor-testimonial-content {
		margin-bottom: 1.5rem
	}

	.elementor-testimonial-name {
		line-height: 1.5;
		display: inline-flex;
		align-items: center;
		gap: .15rem
	}

	&.elementor-testimonial-text-align- {
		&left {
			text-align: left;
		}

		&right {
			text-align: right;
		}
	}
}