// layout/_layout.scss

.elementor-section {
  position: relative;
  backface-visibility: hidden;

  .elementor-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }

  &.elementor-section-stretched {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
  }

  &.elementor-section-items-top > .elementor-container {
    align-items: flex-start;
  }

  &.elementor-section-items-middle > .elementor-container {
    align-items: center;
  }

  &.elementor-section-items-bottom > .elementor-container {
    align-items: flex-end;
  }

  &.elementor-section-content-top .elementor-column-wrap {
    align-items: flex-start;
  }

  &.elementor-section-content-middle .elementor-column-wrap {
    align-items: center;
  }

  &.elementor-section-content-bottom .elementor-column-wrap {
    align-items: flex-end;
  }

  @media (min-width: 768px) {
    &.elementor-section-height-full {
      height: 100vh;

      > .elementor-container {
        height: 100%;
      }
    }
  }
}

.elementor-row {
  display: flex;
  width: 100%;
  /* In dragging mode it's causing a columns fall */

  @media (max-width: 1023px) {
    flex-wrap: wrap;
  }
}

.elementor-column-wrap {
  width: 100%;
  display: flex;
}

.elementor-widget-wrap {
  position: relative;
  width: 100%;
}

.modal-open {
  .elementor-widget-wrap {
    z-index: initial;
  }
}

.elementor-editor-active {
  .elementor-widget-wrap {
    z-index: 1;
  }

  .elementor-column {
    min-height: 30px;
  }

  .elementor-section-slidered:hover {
    outline: 3px dashed yellow;
  }
}

.elementor-widget {
  position: relative;
}

.elementor-column {
  position: relative;
  min-height: 1px;
  display: flex;
}

.elementor-section-slidered {
  .swiper-wrapper {
    flex-wrap: initial !important;
  }

  .elementor-row-slidered-backend {
    display: block;
  }

  .elementor-top-column {
    width: 100% !important;
  }
}

.elementor-inner-section {
  .elementor-column-gap-no {
    .elementor-element-populated {
      padding: 0;
    }
  }
}

@media (max-width: 479px) {
  .elementor-column {
    &.elementor-xs-10 {
      width: 10%;
    }

    &.elementor-xs-11 {
      width: 11.111%;
    }

    &.elementor-xs-12 {
      width: 12.5%;
    }

    &.elementor-xs-14 {
      width: 14.285%;
    }

    &.elementor-xs-16 {
      width: 16.666%;
    }

    &.elementor-xs-20 {
      width: 20%;
    }

    &.elementor-xs-25 {
      width: 25%;
    }

    &.elementor-xs-30 {
      width: 30%;
    }

    &.elementor-xs-33 {
      width: 33.333%;
    }

    &.elementor-xs-40 {
      width: 40%;
    }

    &.elementor-xs-50 {
      width: 50%;
    }

    &.elementor-xs-60 {
      width: 60%;
    }

    &.elementor-xs-66 {
      width: 66.666%;
    }

    &.elementor-xs-70 {
      width: 70%;
    }

    &.elementor-xs-75 {
      width: 75%;
    }

    &.elementor-xs-80 {
      width: 80%;
    }

    &.elementor-xs-83 {
      width: 83.333%;
    }

    &.elementor-xs-90 {
      width: 90%;
    }

    &.elementor-xs-100 {
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .elementor-column {
    width: 100%;

    &.elementor-sm-10 {
      width: 10%;
    }

    &.elementor-sm-11 {
      width: 11.111%;
    }

    &.elementor-sm-12 {
      width: 12.5%;
    }

    &.elementor-sm-14 {
      width: 14.285%;
    }

    &.elementor-sm-16 {
      width: 16.666%;
    }

    &.elementor-sm-20 {
      width: 20%;
    }

    &.elementor-sm-25 {
      width: 25%;
    }

    &.elementor-sm-30 {
      width: 30%;
    }

    &.elementor-sm-33 {
      width: 33.333%;
    }

    &.elementor-sm-40 {
      width: 40%;
    }

    &.elementor-sm-50 {
      width: 50%;
    }

    &.elementor-sm-60 {
      width: 60%;
    }

    &.elementor-sm-66 {
      width: 66.666%;
    }

    &.elementor-sm-70 {
      width: 70%;
    }

    &.elementor-sm-75 {
      width: 75%;
    }

    &.elementor-sm-80 {
      width: 80%;
    }

    &.elementor-sm-83 {
      width: 83.333%;
    }

    &.elementor-sm-90 {
      width: 90%;
    }

    &.elementor-sm-100 {
      width: 100%;
    }
  }

  .elementor-reverse-mobile > .elementor-container > .elementor-row {
    flex-direction: column-reverse;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .elementor-column {
    &.elementor-md-10 {
      width: 10% !important;
    }

    &.elementor-md-11 {
      width: 11.111% !important;
    }

    &.elementor-md-12 {
      width: 12.5% !important;
    }

    &.elementor-md-14 {
      width: 14.285% !important;
    }

    &.elementor-md-16 {
      width: 16.666% !important;
    }

    &.elementor-md-20 {
      width: 20% !important;
    }

    &.elementor-md-25 {
      width: 25% !important;
    }

    &.elementor-md-30 {
      width: 30% !important;
    }

    &.elementor-md-33 {
      width: 33.333% !important;
    }

    &.elementor-md-40 {
      width: 40% !important;
    }

    &.elementor-md-50 {
      width: 50% !important;
    }

    &.elementor-md-60 {
      width: 60% !important;
    }

    &.elementor-md-66 {
      width: 66.666% !important;
    }

    &.elementor-md-70 {
      width: 70% !important;
    }

    &.elementor-md-75 {
      width: 75% !important;
    }

    &.elementor-md-80 {
      width: 80% !important;
    }

    &.elementor-md-83 {
      width: 83.333% !important;
    }

    &.elementor-md-90 {
      width: 90% !important;
    }

    &.elementor-md-100 {
      width: 100% !important;
    }
  }
}

@media (min-width: 768px) {
  .elementor-column {
    &.elementor-col-10, &[data-col="10"] {
      width: 10%;
    }

    &.elementor-col-11, &[data-col="11"] {
      width: 11.111%;
    }

    &.elementor-col-12, &[data-col="12"] {
      width: 12.5%;
    }

    &.elementor-col-14, &[data-col="14"] {
      width: 14.285%;
    }

    &.elementor-col-16, &[data-col="16"] {
      width: 16.666%;
    }

    &.elementor-col-20, &[data-col="20"] {
      width: 20%;
    }

    &.elementor-col-25, &[data-col="25"] {
      width: 25%;
    }

    &.elementor-col-30, &[data-col="30"] {
      width: 30%;
    }

    &.elementor-col-33, &[data-col="33"] {
      width: 33.333%;
    }

    &.elementor-col-40, &[data-col="40"] {
      width: 40%;
    }

    &.elementor-col-50, &[data-col="50"] {
      width: 50%;
    }

    &.elementor-col-60, &[data-col="60"] {
      width: 60%;
    }

    &.elementor-col-66, &[data-col="66"] {
      width: 66.666%;
    }

    &.elementor-col-70, &[data-col="70"] {
      width: 70%;
    }

    &.elementor-col-75, &[data-col="75"] {
      width: 75%;
    }

    &.elementor-col-80, &[data-col="80"] {
      width: 80%;
    }

    &.elementor-col-83, &[data-col="83"] {
      width: 83.333%;
    }

    &.elementor-col-90, &[data-col="90"] {
      width: 90%;
    }

    &.elementor-col-100, &[data-col="100"] {
      width: 100%;
    }
  }

  .elementor-column-gap-default .elementor-element-populated {
    padding: 15px;
  }
  .elementor-column-gap-narrow .elementor-element-populated {
    padding: 5px;
  }
  .elementor-column-gap-extended .elementor-element-populated {
    padding: 15px;
  }
  .elementor-column-gap-wide .elementor-element-populated {
    padding: 20px;
  }
  .elementor-column-gap-wider .elementor-element-populated {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  body:not(.elementor-editor-active) .elementor-hidden-phone {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  body:not(.elementor-editor-active) .elementor-hidden-tablet {
    display: none;
  }
}

@media (min-width: 1024px) {
  body:not(.elementor-editor-active) .elementor-hidden-desktop {
    display: none;
  }
}

body:not(.elementor-editor-active) .elementor-hidden {
  display: none;
}
