// widgets/_accordion.scss

.elementor-accordion {
  text-align: left;

  .elementor-accordion-item {
    border: 1px solid #D4D4D4;

    & + .elementor-accordion-item {
      border-top: none;
    }
  }

  .elementor-accordion-title {
    padding: 15px 20px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;

    .elementor-accordion-icon {
      display: inline-block;
      width: 1.5em;

      &.elementor-accordion-icon-right {
        float: right;
        text-align: right;
      }

      &.elementor-accordion-icon-left {
        float: left;
        text-align: left;
      }

      .fa:before {
        content: "\f067";
      }
    }

    &.active {
      .elementor-accordion-icon {
        .fa:before {
          content: "\f068";
        }
      }
    }
  }

  .elementor-accordion-content {
    display: none;
    padding: 15px 20px;
    border-top: 1px solid #D4D4D4;
  }

  @media (max-width: 767px) {
    .elementor-accordion-title {
      padding: 12px 15px;

      .elementor-accordion-icon {
        width: 1.2em;
      }
    }

    .elementor-accordion-content {
      padding: 7px 15px;
    }
  }
}
