// widgets/_alert.scss

.elementor-alert {
  position: relative;
  text-align: left;

  .elementor-alert-title {
    display: block;
    font-weight: bold;
  }

  button.elementor-alert-dismiss {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 3px;
    font-size: 13px;
    line-height: 1;
    background: transparent;
    color: inherit;
    border: none;
  }

  &.elementor-alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bcdff1;
  }

  &.elementor-alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #cae6be;
  }

  &.elementor-alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #f9f0c3;
  }

  &.elementor-alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #e8c4c4;
  }

  @media (max-width: 767px) {
    button.elementor-alert-dismiss {
      right: 7px;
      top: 7px;
    }
  }
}
