// widgets/_heading.scss

.elementor-widget-heading {
  .elementor-heading-title {
    padding: 0;
    margin: 0;
    line-height: 1;

    &.elementor-size-small { font-size: 15px; }
    &.elementor-size-medium { font-size: 19px; }
    &.elementor-size-large { font-size: 29px; }
    &.elementor-size-xl { font-size: 39px; }
    &.elementor-size-xxl { font-size: 59px; }
  }
}
