// widgets/_image-hotspots.scss

.elementor-image-hotspots-wrapper {
  position: relative;

  .elementor-hotspot {
    position: absolute;
    background: #eaeaea;
    padding: 0.3em 0.6em;
  }
}

.tooltip-inner-hotspot {
  text-align: inherit;

  &:before {
    display: none;
  }
}
