// widgets/_newsletter.scss

.elementor-newsletter {
  .elementor-newsletter-form {
    display: inline-block;
    width: 100%;
  }

  .elementor-newsletter-input {
    outline: none;
  }

  .input-wrapper {
    overflow: hidden;
  }
}
