// widgets/_social-icons.scss

.elementor-social-icons-wrapper {
  font-size: 0;
}

.elementor-social-icon {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 0.6em;
  margin-right: 5px;
  cursor: pointer;

  &:last-child {
    margin: 0;
  }

  &:hover {
    opacity: 0.5;
  }

  &-behance { background-color: #1769ff; }
  &-bitbucket { background-color: #205081; }
  &-codepen { background-color: #000000; }
  &-delicious { background-color: #3399ff; }
  &-digg { background-color: #005be2; }
  &-dribbble { background-color: #ea4c89; }
  &-facebook { background-color: #3b5998; }
  &-flickr { background-color: #0063dc; }
  &-foursquare { background-color: #2d5be3; }
  &-github { background-color: #333333; }
  &-google-plus { background-color: #dd4b39; }
  &-instagram { background-color: #262626; }
  &-jsfiddle { background-color: #487AA2; }
  &-linkedin { background-color: #0077b5; }
  &-medium { background-color: #00ab6b; }
  &-pinterest { background-color: #bd081c; }
  &-product-hunt { background-color: #da552f; }
  &-reddit { background-color: #ff4500; }
  &-snapchat { background-color: #fffc00; }
  &-soundcloud { background-color: #ff8800; }
  &-stack-overflow { background-color: #fe7a15; }
  &-tumblr { background-color: #35465c; }
  &-x-twitter { background-color: #55acee; }
  &-tiktok { background-color: #000000; }
  &-vimeo { background-color: #1ab7ea; }
  &-wordpress { background-color: #21759b; }
  &-youtube { background-color: #cd201f; }

  i {
    font-size: 25px;
  }
}

.elementor-shape-rounded {
  .elementor-icon.elementor-social-icon {
    border-radius: 10%;
  }
}

.elementor-shape-circle {
  .elementor-icon.elementor-social-icon {
    border-radius: 50%;
  }
}
