.ui-helper-hidden-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.elementor-clearfix:after {
  content: "";
  display: block;
  clear: both;
  width: 0;
  height: 0;
}

img {
  border: 0 none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@-webkit-keyframes load {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes load {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.elementor-loading-title {
  color: $color-fff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  letter-spacing: 7px;
  font-size: 10px;
  -webkit-animation: load-title 1.5s linear infinite;
          animation: load-title 1.5s linear infinite;
}

@-webkit-keyframes load-title {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes load-title {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.select2-dropdown {
  border-color: $color-a4afb7;
}

.select2-dropdown .select2-search__field {
  outline: none;
}

#elementor-fatal-error-dialog button.dialog-ok {
  color: $color-71d7f7;
}

#elementor-fatal-error-dialog .dialog-widget-header {
  font-size: 13px;
  color: $color-6d7882;
}

.elementor-button {
  border: none;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: box-shadow 0.5s, opacity 0.5s;
  transition: box-shadow 0.5s, opacity 0.5s;
  outline: none;
}

.elementor-button:not(.elementor-button-state) .elementor-state-icon {
  display: none;
}

.elementor-button .elementor-state-icon {
  padding-right: 10px;
}

input, select, textarea {
  border-radius: 3px;
  font-size: 12px;
  width: 100%;
  background: none;
  box-shadow: none;
  color: $color-495157;
  border: 1px solid;
  outline: none;
}

input:not(:focus), select:not(:focus), textarea:not(:focus) {
  border-color: $color-d5dadf;
}

input:focus, select:focus, textarea:focus {
  border-color: $color-a4afb7;
}

.elementor-error input, .elementor-error select, .elementor-error textarea {
  border-color: $color-b01b1b;
}

input, textarea {
  padding: 5px 8px;
}

textarea {
  resize: vertical;
}

input[type=radio] {
  border: 1px solid $color-d5dadf;
  background: $color-fff;
  color: #555;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  height: 16px;
  margin: -4px 4px 0 0;
  outline: 0;
  text-align: center;
  vertical-align: middle;
  width: 16px;
  min-width: 16px;
  -webkit-transition: 0.05s border-color ease-in-out;
  transition: 0.05s border-color ease-in-out;
}

input[type=radio]:focus {
  border-color: $color-a4afb7;
}

input[disabled] {
  background-color: $color-e6e9ec;
  cursor: not-allowed;
  opacity: 1;
}

select {
  height: 27px;
}

.ps-container {
  -ms-touch-action: none;
  overflow: hidden !important;
}

.ps-container.ps-active-y > .ps-scrollbar-y-rail {
  display: block;
}

.ps-container.ps-in-scrolling {
  pointer-events: none;
}

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: $color-eee;
  opacity: 0.9;
}

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: $color-999;
}

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: $color-eee;
  opacity: 0.9;
}

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: $color-999;
}

.ps-container > .ps-scrollbar-x-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  bottom: 3px;
  /* there must be 'bottom' for ps-scrollbar-x-rail */
  height: 8px;
}

.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  position: absolute;
  /* please don't change 'position' */
  background-color: #aaa;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  bottom: 0;
  /* there must be 'bottom' for ps-scrollbar-x */
  height: 8px;
}

.ps-container > .ps-scrollbar-y-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  right: 3px;
  /* there must be 'right' for ps-scrollbar-y-rail */
  width: 8px;
}

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  position: absolute;
  /* please don't change 'position' */
  background-color: #aaa;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  right: 0;
  /* there must be 'right' for ps-scrollbar-y */
  width: 8px;
}

.ps-container:hover.ps-in-scrolling {
  pointer-events: none;
}

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: $color-eee;
  opacity: 0.9;
}

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: $color-999;
}

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: $color-eee;
  opacity: 0.9;
}

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: $color-999;
}

.ps-container:hover > .ps-scrollbar-y-rail {
  opacity: 0.6;
}

.ps-container:hover > .ps-scrollbar-x-rail:hover {
  background-color: $color-eee;
  opacity: 0.9;
}

.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
  background-color: $color-999;
}

.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: $color-eee;
  opacity: 0.9;
}

.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: $color-999;
}

#elementor-mode-switcher {
  position: absolute;
  left: 100%;
  top: 50%;
  width: 15px;
  height: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: $color-e6e9ec;
  font-size: 15px;
  box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#elementor-mode-switcher:hover {
  background-color: $color-9b0a46;
  color: #FFFFFF;
}

#elementor-mode-switcher-inner, #elementor-mode-switcher-preview {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#elementor-mode-switcher-preview {
  cursor: pointer;
}

#elementor-mode-switcher-preview .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

#elementor-mode-switcher-preview-input {
  display: none;
}

.tipsy {
  font-size: 10px;
  position: absolute;
  padding: 5px;
  z-index: 100000;
}

.tipsy-inner {
  background-color: $color-000;
  color: #FFF;
  max-width: 200px;
  padding: 5px 8px 4px;
  text-align: center;
  border-radius: 3px;
}

.tipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 5px dashed $color-000;
}

.tipsy-arrow-n {
  border-bottom-color: $color-000;
}

.tipsy-arrow-s {
  border-top-color: $color-000;
}

.tipsy-arrow-e {
  border-left-color: $color-000;
}

.tipsy-arrow-w {
  border-right-color: $color-000;
}

.tipsy-n .tipsy-arrow, .tipsy-nw .tipsy-arrow {
  border-left-color: transparent;
  border-right-color: transparent;
  top: 0;
  border-bottom-style: solid;
  border-top: none;
}

.tipsy-n .tipsy-arrow {
  left: 50%;
  margin-left: -5px;
}

.tipsy-nw .tipsy-arrow {
  left: 10px;
}

.tipsy-ne .tipsy-arrow {
  top: 0;
  right: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

.tipsy-s .tipsy-arrow, .tipsy-se .tipsy-arrow, .tipsy-sw .tipsy-arrow {
  bottom: 0;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

.tipsy-s .tipsy-arrow {
  left: 50%;
  margin-left: -5px;
}

.tipsy-sw .tipsy-arrow {
  left: 10px;
}

.tipsy-se .tipsy-arrow {
  right: 10px;
}

.tipsy-e .tipsy-arrow, .tipsy-w .tipsy-arrow {
  top: 50%;
  margin-top: -5px;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.tipsy-e .tipsy-arrow {
  right: 0;
  border-left-style: solid;
  border-right: none;
}

.tipsy-w .tipsy-arrow {
  left: 0;
  border-right-style: solid;
  border-left: none;
}

.dialog-widget {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.dialog-widget-content {
  background-color: $color-fff;
  position: absolute;
  border-radius: 3px;
  box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.dialog-widget-header, .dialog-message {
  text-align: center;
}

.dialog-message {
  font-size: 12px;
}

.dialog-buttons-wrapper {
  border-top: 1px solid $color-e6e9ec;
  text-align: center;
}

.dialog-buttons-wrapper > button {
  border: none;
  background: none;
  font-size: 15px;
  cursor: pointer;
  padding: 13px 0;
  outline: none;
}

.dialog-buttons-wrapper > button:first-child {
  color: $color-6d7882;
}

.dialog-buttons-wrapper > button.dialog-ok {
  color: $color-b01b1b;
}

.dialog-buttons-wrapper > button.dialog-take_over {
  color: $color-39b54a;
}

.dialog-buttons-wrapper > button:active {
  background-color: rgba(230, 233, 236, 0.5);
}

.dialog-widget-header {
  padding: 20px 0;
  font-weight: 500;
}

.dialog-confirm-widget .dialog-widget-header {
  font-size: 15px;
  color: $color-495157;
}

.dialog-confirm-widget .dialog-buttons-wrapper > button {
  width: 50%;
}

.dialog-confirm-widget .dialog-buttons-wrapper > button:first-child {
  border-right: 1px solid $color-e6e9ec;
}

.dialog-confirm-widget .dialog-buttons-wrapper > button:hover {
  background-color: #f4f6f7;
}

.dialog-options-widget, .dialog-confirm-widget, .dialog-alert-widget {
  -webkit-user-select: none;
  -moz-user-select: none;
}

.dialog-options-widget .dialog-widget-content, .dialog-confirm-widget .dialog-widget-content, .dialog-alert-widget .dialog-widget-content {
  margin: auto;
  width: 350px;
}

.dialog-options-widget .dialog-message, .dialog-confirm-widget .dialog-message, .dialog-alert-widget .dialog-message {
  padding: 0 20px;
  min-height: 50px;
}

.dialog-alert-widget .dialog-buttons-wrapper > button {
  width: 100%;
}

.dialog-popup-message {
  height: 155px;
  width: 155px;
  background-color: $color-fff;
  border-radius: 10px;
}

.elementor-dialog-message {
  padding: 15px;
}

.elementor-dialog-message .fa {
  font-size: 85px;
  padding: 10px;
}

.elementor-dialog-message-text {
  text-transform: uppercase;
}

.dialog-elementor-modal-close-button {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 16px;
  color: $color-a4afb7;
}

#elementor-introduction .dialog-widget-header {
  padding: 40px 0 0;
}

#elementor-introduction .dialog-widget-content {
  width: 700px;
  max-width: 100%;
}

#elementor-introduction .dialog-message {
  margin-top: 40px;
}

#elementor-introduction-title {
  color: $color-9b0a46;
  font-size: 27px;
  font-weight: bold;
}

#elementor-introduction-subtitle {
  margin-top: 12px;
  font-size: 16px;
  color: $color-a4afb7;
}

#elementor-template-library-modal .dialog-widget-content {
  width: 990px;
  background-color: #f1f3f5;
}

#elementor-template-library-modal .dialog-widget-header {
  padding: 0;
  background-color: $color-fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

#elementor-template-library-modal .dialog-buttons-wrapper {
  display: none;
}

#elementor-template-library-modal .dialog-message {
  height: 630px;
  max-height: 85vh;
  overflow: auto;
  padding: 15px;
}

#elementor-template-library-modal a, #elementor-template-library-modal a:hover {
  color: inherit;
}

#elementor-template-library-modal a.elementor-template-library-blank-footer-link {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

#elementor-template-library-modal a.elementor-template-library-blank-footer-link:hover {
  color: $color-9b0a46;
}

#elementor-template-library-header {
  display: table;
  table-layout: fixed;
  width: 100%;
}

#elementor-template-library-header > * {
  display: table-cell;
  vertical-align: middle;
}

#elementor-template-library-header-logo-area {
  width: 35%;
  text-align: left;
  padding-left: 15px;
}

#elementor-template-library-header-logo-area > * {
  float: left;
}

#elementor-template-library-header-logo-area > * > * {
  vertical-align: middle;
}

#elementor-template-library-header-logo {
  font-size: 15px;
  text-transform: uppercase;
  color: $color-495157;
  font-weight: bold;
  cursor: pointer;
}

#elementor-template-library-header-logo i {
  padding-right: 10px;
  color: $color-9b0a46;
  font-size: 20px;
}

#elementor-template-library-header-menu {
  text-align: center;
}

.elementor-template-library-menu-item {
  display: inline-block;
  padding: 17px;
  cursor: pointer;
}

.elementor-template-library-menu-item.elementor-active {
  background-image: -webkit-gradient(linear, left top, left bottom, from($color-f3f3f3), to($color-fff));
  background-image: linear-gradient(to bottom, $color-f3f3f3, $color-fff);
  border-bottom: 3px solid $color-9b0a46;
}

#elementor-template-library-header-items-area {
  width: 35%;
}

#elementor-template-library-header-items-area > * {
  float: right;
}

#elementor-template-library-header-tools > * {
  float: right;
}

.elementor-template-library-header-item {
  position: relative;
  border-left: 1px solid $color-e6e9ec;
  height: 50px;
  box-sizing: content-box;
  cursor: pointer;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.elementor-template-library-header-item:not(:hover) {
  color: $color-a4afb7;
}

.elementor-template-library-header-item > * {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.elementor-template-library-header-item > i {
  font-size: 18px;
}

#elementor-template-library-header-close-modal, #elementor-template-library-header-save, #elementor-template-library-header-load {
  width: 56px;
}

#elementor-template-library-header-load > .icon-upload {
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

#elementor-template-library-header-preview > * {
  float: right;
}

#elementor-template-library-header-preview-insert-wrapper {
  width: 100px;
  cursor: default;
}

#elementor-template-library-header-preview-insert {
  width: 80%;
  padding: 8px 0;
}

#elementor-template-library-header-preview-back {
  padding: 16.5px 16.5px 15px 0;
  border-right: 1px solid $color-e6e9ec;
  cursor: pointer;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

#elementor-template-library-header-preview-back:not(:hover) {
  color: $color-a4afb7;
}

#elementor-template-library-header-preview-back i {
  padding-right: 10px;
  font-size: 18px;
}

#elementor-template-library-header-preview-back i:before {
  content: "\e908";
}

#elementor-template-library-loading .elementor-loading-title {
  color: $color-a4afb7;
}

#elementor-template-library-loading .elementor-loader-box {
  background-color: $color-d5dadf;
}

#elementor-template-library-templates-container {
  overflow: hidden;
}

#elementor-template-library-templates-container[data-template-source=local] {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  margin: 15px;
}

#elementor-template-library-templates-container:not([data-template-source=remote]) + #elementor-template-library-footer-banner {
  display: none;
}

.elementor-template-library-template-remote {
  float: left;
  width: 25%;
  padding: 0 15px;
  margin-top: 15px;
}

.elementor-template-library-template-remote:not(:hover) .elementor-template-library-template-controls {
  opacity: 0;
}

.elementor-template-library-template-remote .elementor-template-library-template-body {
  height: 250px;
  border: 3px solid $color-fff;
  position: relative;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.elementor-template-library-template-remote .elementor-template-library-template-screenshot {
  height: 100%;
  background-size: cover;
  background-position-x: 50%;
}

.elementor-template-library-template-remote .elementor-template-library-template-controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.elementor-template-library-template-remote .elementor-template-library-template-insert {
  font-size: 11px;
  width: 150px;
}

.elementor-template-library-template-remote .elementor-template-library-template-preview {
  position: relative;
  height: 180px;
  cursor: pointer;
}

.elementor-template-library-template-remote .elementor-template-library-template-preview i {
  font-size: 20px;
  color: $color-d5dadf;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.elementor-template-library-template-remote .elementor-template-library-template-insert {
  padding: 11px;
}

.elementor-template-library-template-remote .elementor-template-library-template-insert i {
  padding-right: 5px;
}

.elementor-template-library-template-remote .elementor-template-library-template-name {
  margin: 13px 0 10px;
  font-size: 12px;
  text-align: center;
  color: $color-6d7882;
}

.elementor-template-library-template-local {
  background-color: $color-fff;
  display: table;
  table-layout: fixed;
  width: 100%;
  border-bottom: 1px solid $color-d5dadf;
  height: 50px;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.elementor-template-library-template-local:hover {
  background-color: #fafbfb;
}

.elementor-template-library-template-local:not(:hover) .elementor-template-library-template-controls {
  visibility: hidden;
}

.elementor-template-library-template-local > * {
  display: table-cell;
  vertical-align: middle;
  text-align: start;
}

.elementor-template-library-template-local .elementor-template-library-template-icon {
  text-align: center;
  width: 6%;
}

.elementor-template-library-template-local .elementor-template-library-template-name {
  font-size: 13px;
  font-weight: 500;
  width: 35%;
}

.elementor-template-library-template-local .elementor-template-library-template-type {
  color: $color-a4afb7;
}

.elementor-template-library-template-local .elementor-template-library-template-controls {
  width: 42%;
  direction: rtl;
}

.elementor-template-library-template-local .elementor-template-library-template-controls > * {
  direction: ltr;
}

.elementor-template-library-template-local .elementor-template-library-template-controls > div {
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
  font-weight: 500;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.elementor-template-library-template-local .elementor-template-library-template-controls > div:not(:hover) {
  color: $color-a4afb7;
}

.elementor-template-library-template-local .elementor-template-library-template-control-title {
  margin-left: 6px;
}

.elementor-template-library-template-local .elementor-template-library-template-delete:hover {
  color: $color-b01b1b;
}

.elementor-template-library-template-local .elementor-template-library-template-insert {
  padding: 8px 18px;
  margin: 0 20px;
}

#elementor-template-library-preview {
  height: 100%;
  overflow: hidden;
}

#elementor-template-library-preview iframe {
  width: 1440px;
  height: 150%;
  -webkit-transform: scale(0.666) translateX(-25%) translateY(-25%);
          transform: scale(0.666) translateX(-25%) translateY(-25%);
}

.elementor-template-library-blank-title {
  font-size: 30px;
  margin-top: 55px;
}

.elementor-template-library-blank-excerpt {
  font-size: 18px;
  color: $color-a4afb7;
  margin-top: 20px;
  font-weight: 300;
}

#elementor-template-library-save-template-form, #elementor-template-library-load-template-form {
  margin-top: 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#elementor-template-library-save-template-form > *, #elementor-template-library-load-template-form > * {
  height: 60px;
  font-size: 18px;
}

#elementor-template-library-save-template-name {
  width: 460px;
  background-color: $color-fff;
  font-weight: 300;
  color: $color-a4afb7;
  padding-left: 25px;
  border-radius: 3px 0 0 3px;
  border: none;
}

#elementor-template-library-save-template-name:focus {
  border: 1px solid $color-e6e9ec;
}

#elementor-template-library-load-wrapper {
  width: 250px;
  overflow: hidden;
  position: relative;
}

#elementor-template-library-load-wrapper > #elementor-template-library-load-template-file {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  height: 100%;
  cursor: pointer;
}

#elementor-template-library-load-wrapper > #elementor-template-library-load-btn-file {
  height: 60px;
  width: 100%;
  border: none;
  cursor: pointer;
  background: $color-fff;
  display: block;
}

#elementor-template-library-load-wrapper:hover > #elementor-template-library-load-btn-file {
  background-color: #fcfcfc;
}

#elementor-template-library-save-template-submit, #elementor-template-library-load-template-submit {
  width: 150px;
  border-radius: 0 3px 3px 0;
  font-weight: 500;
}

#elementor-template-library-save-template-submit:hover, #elementor-template-library-load-template-submit:hover {
  box-shadow: none;
}

.elementor-template-library-blank-footer {
  position: absolute;
  bottom: 90px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: $color-a4afb7;
  font-size: 13px;
  font-style: italic;
}

#elementor-template-library-footer-banner i {
  color: $color-c2cbd2;
  font-size: 56px;
  margin-top: 40px;
}

#elementor-template-library-footer-banner .elementor-excerpt {
  color: $color-a4afb7;
  font-size: 15px;
  font-weight: 500;
  margin: 20px 0;
}

#elementor-template-library-templates-empty-icon {
  font-size: 96px;
  margin-top: 40px;
  color: $color-d5dadf;
}

#elementor-template-library-error-dialog .dialog-message {
  text-align: start;
}

#elementor-template-library-error-info {
  margin-top: 10px;
}
.elementor-screen-only,
.screen-reader-text,
.screen-reader-text span,
.ui-helper-hidden-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}