body.elementor-editor-active #elementor-preview {
  left: 280px;
  right: 0;
}

body.elementor-editor-active #elementor-mode-switcher-preview .fa:before {
  content: "\f104";
}

body.elementor-editor-preview #elementor-preview {
  left: 0;
}

body.elementor-editor-preview #elementor-mode-switcher-preview .fa:before {
  content: "\f105";
}

#elementor-loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $color-6d7882;
  z-index: 9999;
}

.elementor-loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 100px;
}

.elementor-loader-wrapper .elementor-loader {
  height: 100px;
  position: relative;
}

.elementor-loader-wrapper .elementor-loader-box {
  background-color: $color-e6e9ec;
}

.elementor-loader-wrapper .elementor-loader-box {
  position: absolute;
  -webkit-animation: load 1.8s linear infinite;
          animation: load 1.8s linear infinite;
}

.elementor-loader-wrapper .elementor-loader-box:nth-of-type(1) {
  width: 20%;
  height: 100%;
  left: 0;
  top: 0;
}

.elementor-loader-wrapper .elementor-loader-box:not(:nth-of-type(1)) {
  right: 0;
  height: 20%;
  width: 60%;
}

.elementor-loader-wrapper .elementor-loader-box:nth-of-type(2) {
  top: 0;
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.elementor-loader-wrapper .elementor-loader-box:nth-of-type(3) {
  top: 40%;
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.elementor-loader-wrapper .elementor-loader-box:nth-of-type(4) {
  bottom: 0;
  -webkit-animation-delay: -1.35s;
          animation-delay: -1.35s;
}

body.elementor-editor-preview #elementor-mode-switcher {
  background-color: $color-9b0a46;
  color: #FFFFFF;
}

#elementor-preview {
  background-color: #333;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  border: 0;
}

.elementor-device-desktop #elementor-preview {
  overflow-y: hidden;
}

body:not(.elementor-device-desktop) #elementor-preview {
  overflow-y: auto;
}

#elementor-preview-responsive-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.elementor-device-desktop #elementor-preview-responsive-wrapper {
  min-width: 1024px;
  width: 100%;
  height: 100%;
}

.elementor-device-tablet #elementor-preview-responsive-wrapper {
  width: 768px;
  height: 1024px;
  padding: 40px 10px 70px;
}

.elementor-device-mobile #elementor-preview-responsive-wrapper {
  width: 360px;
  height: 640px;
  padding: 40px 10px 70px;
}

body:not(.elementor-device-desktop) #elementor-preview-responsive-wrapper {
  border-radius: 30px;
  background-color: #111;
  margin: 30px auto 80px;
  box-sizing: content-box;
}

#elementor-preview-iframe {
  width: 100%;
  height: 100%;
  background-color: $color-fff;
}