
.elementor-search{
    display: inline-block;
    width: 100%;

   .form-search-control{
       border: none;
   }
  .search-btn{
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
}

