//
// Panel Elements
//
#elementor-panel-elements {
	overflow: hidden;
	padding: 5px;

}

.elementor-element-wrapper {
	float: $start;
	width: 50%;
	padding: 5px;
	text-align: center;
	box-sizing: border-box;
}

.elementor-element {
	border-radius: 3px;
	background-color: #fff;
	cursor: move;

	&:hover {
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

		.icon, .title {
			color: $editor-accent;
		}
	}

	.icon {
		font-size: 28px;
		padding-top: 15px;
		color: $editor-darker;
	}

	.elementor-element-title-wrapper {
		display: table;
		width: 100%;
	}

	.title {
		font-size: 11px;
		color: $editor-darker;
		display: table-cell;
		vertical-align: middle;
		height: 40px;
	}
}

#elementor-panel-elements-languageselector-wrapper {
	position: relative;
	background-image: -webkit-linear-gradient(top,#f3f3f3,#fff);
	background-image: linear-gradient(180deg,#f3f3f3,#fff);
	font-size: 11px;
	@include padding(5px, 15px, 5px, 15px);
	border: none;
	border-radius: 0;
	box-shadow: 0 0 8px rgba(0,0,0,.1);
	margin-bottom: 2px;
    line-height: 23px;
	display: flex;
	gap: 10px;
	align-items: center;

	select{

	}
}

#elementor-panel-elements-language-import{
	display: inline-block;
	> span {font-size: 12px; cursor: pointer; padding: 7px;}
	.elementor-panel-elements-language-close{
		display: none;
	}
}

#elementor-panel-elements-language-import-list{
	display: none;
	position: absolute;
	width: 100%;
	background: #556068;
	left: 0;
	z-index: 2;
	padding: 5px 15px;
	color: #d5dadf;
	ul {
		margin: 5px 0;
	}
	li {
		background-color: #495157;
		width: 100%;
		padding: 2px 10px;
		cursor: pointer;
		margin-bottom: 1px;
	}
	a{
		display: block;
		color: #d5dadf;
	}
}

#elementor-panel-elements-language-import.elementor-open{
	.elementor-panel-elements-language-clone{
		display: none;
	}
	.elementor-panel-elements-language-close{
		display: inline;
	}
	> #elementor-panel-elements-language-import-list{
		display: block;
	}
}

#elementor-panel-elements-search-wrapper {
	position: relative;
	margin: 10px 10px 0;

	.fa {
		position: absolute;
		@include end(15px);
		top: 50%;
		color: $editor-light;
		transform: translateY(-50%);
	}
}

#elementor-panel-elements-search-input {
	width: 100%;
	background-color: #fff;
	font-size: 12px;
	@include padding(12px, 42px, 12px, 15px);
	font-style: italic;
	color: $editor-light;
	border: none;
	border-radius: 6px;
	box-shadow: $panel-bottom-shadow;
}
