// base/_core.scss

.elementor-video-wrapper {
  position: relative;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.elementor {
  hyphens: manual;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  a {
    box-shadow: none;
    text-decoration: none;
  }

  hr {
    margin: 0;
    background-color: transparent;
  }

  img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  figure {
    margin: 0;
  }

  embed,
  iframe,
  object,
  video {
    max-width: 100%;
    width: 100%;
    margin: 0;
    line-height: 1;
  }

  .elementor-custom-embed {
    line-height: 0;
  }

  .elementor-background-video-container {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    z-index: 0;
  }

  .elementor-background-video {
    position: absolute;
    max-width: none;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  .elementor-background-video-fallback {
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    max-width: 100%;
    width: 100%;
    margin: 0;
    line-height: 1;
    height: 100%;
    z-index: 2;
  }

  .elementor-html5-video {
    object-fit: cover;
  }

  .elementor-background-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }

  .elementor-invisible {
    visibility: hidden;
  }
}

.elementor-align-center {
  text-align: center;

  .btn-traditional {
    width: auto;
  }
}

.elementor-align-right {
  text-align: right;

  .btn-traditional {
    width: auto;
  }

  .btn-block {
    text-align: right;
  }
}

.elementor-align-left {
  text-align: left;

  .btn-traditional {
    width: auto;
  }

  .btn-block {
    text-align: left;
  }
}

.elementor-align-justify {
  .elementor-btn {
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .elementor-tablet-align-center {
    text-align: center;

    .elementor-btn {
      width: auto;
    }
  }

  .elementor-tablet-align-right {
    text-align: right;

    .elementor-btn {
      width: auto;
    }
  }

  .elementor-tablet-align-left {
    text-align: left;

    .elementor-btn {
      width: auto;
    }
  }

  .elementor-tablet-align-justify {
    .elementor-btn {
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .elementor-mobile-align-center {
    text-align: center;

    .elementor-btn {
      width: auto;
    }
  }

  .elementor-mobile-align-right {
    text-align: right;

    .elementor-btn {
      width: auto;
    }
  }

  .elementor-mobile-align-left {
    text-align: left;

    .elementor-btn {
      width: auto;
    }
  }

  .elementor-mobile-align-justify {
    .elementor-btn {
      width: 100%;
    }
  }
}

#elementor-select-preset {
  display: none;
}

#module-iqitelementor-Preview {
  #blockcart-content {
    display: none !important;
  }
}

.elementor-screen-only,
.screen-reader-text,
.screen-reader-text span,
.ui-helper-hidden-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.elementor-clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
    width: 0;
    height: 0;
  }
}

.animated {
  animation-duration: 1.25s;

  &.animated-slow {
    animation-duration: 2s;
  }

  &.animated-fast {
    animation-duration: 0.75s;
  }

  &.infinite {
    animation-iteration-count: infinite;
  }
}
