// widgets/_banner.scss

.elementor-widget-banner {
  .elementor-iqit-banner {
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  .elementor-iqit-banner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .elementor-iqit-banner-img {
    z-index: 1;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      vertical-align: top;
    }
  }

  .elementor-iqit-banner-content-on {
    position: absolute;
    margin: auto;
    overflow: hidden;
    backface-visibility: hidden;
    z-index: 3;
    display: flex;
    flex-direction: column;

    &.elementor-banner-align-top-left {
      top: 0;
      left: 0;
    }

    &.elementor-banner-align-top-center {
      top: 0;
      left: 0;
      right: 0;
    }

    &.elementor-banner-align-top-right {
      top: 0;
      right: 0;
    }

    &.elementor-banner-align-middle-left {
      top: 0;
      bottom: 0;
      left: 0;
      justify-content: center;
    }

    &.elementor-banner-align-middle-center {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      justify-content: center;
    }

    &.elementor-banner-align-middle-right {
      top: 0;
      bottom: 0;
      right: 0;
      justify-content: center;
    }

    &.elementor-banner-align-bottom-left {
      bottom: 0;
      left: 0;
    }

    &.elementor-banner-align-bottom-center {
      bottom: 0;
      left: 0;
      right: 0;
    }

    &.elementor-banner-align-bottom-right {
      bottom: 0;
      right: 0;
    }
  }

  &:hover {
    .elementor-iqit-banner-overlay {
      opacity: 1;
    }
  }
}
