// widgets/_icon.scss

.elementor-icon {
  display: inline-block;
  line-height: 1;
  transition: all 0.5s;

  i {
    font-size: 50px;
    width: 1em;
    height: 1em;
  }
}

.elementor-view-stacked {
  .elementor-icon {
    background-color: #818a91;
    color: #fff;
  }
}

.elementor-view-framed {
  .elementor-icon {
    color: #818a91;
    border: 3px solid #818a91;
    background-color: transparent;
  }
}

.elementor-shape-circle {
  .elementor-icon {
    border-radius: 50%;
  }
}
