// widgets/_image-gallery.scss

.elementor-image-gallery {
  .gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

    img {
      margin: 0 auto;
    }

    .gallery-caption {
      margin: 0;
    }
  }

  figure {
    img {
      display: block;
    }

    figcaption {
      width: 100%;
    }
  }
}

.gallery-spacing-custom {
  .elementor-image-gallery {
    .gallery-icon {
      padding: 0;
    }
  }
}

@media (min-width: 768px) {
  .elementor-image-gallery {
    .gallery-columns-2 .gallery-item { max-width: 50%; }
    .gallery-columns-3 .gallery-item { max-width: 33.33%; }
    .gallery-columns-4 .gallery-item { max-width: 25%; }
    .gallery-columns-5 .gallery-item { max-width: 20%; }
    .gallery-columns-6 .gallery-item { max-width: 16.666%; }
    .gallery-columns-7 .gallery-item { max-width: 14.28%; }
    .gallery-columns-8 .gallery-item { max-width: 12.5%; }
    .gallery-columns-9 .gallery-item { max-width: 11.11%; }
    .gallery-columns-10 .gallery-item { max-width: 10%; }
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .elementor-image-gallery {
    .gallery {
      &.gallery-columns-2 .gallery-item,
      &.gallery-columns-3 .gallery-item,
      &.gallery-columns-4 .gallery-item,
      &.gallery-columns-5 .gallery-item,
      &.gallery-columns-6 .gallery-item,
      &.gallery-columns-7 .gallery-item,
      &.gallery-columns-8 .gallery-item,
      &.gallery-columns-9 .gallery-item,
      &.gallery-columns-10 .gallery-item {
        max-width: 50%;
      }
    }
  }
}

@media (max-width: 479px) {
  .elementor-image-gallery {
    .gallery {
      &.gallery-columns-2 .gallery-item,
      &.gallery-columns-3 .gallery-item,
      &.gallery-columns-4 .gallery-item,
      &.gallery-columns-5 .gallery-item,
      &.gallery-columns-6 .gallery-item,
      &.gallery-columns-7 .gallery-item,
      &.gallery-columns-8 .gallery-item,
      &.gallery-columns-9 .gallery-item,
      &.gallery-columns-10 .gallery-item {
        max-width: 100%;
      }
    }
  }
}
