// widgets/_toggle.scss

.elementor-toggle {
  text-align: left;

  .elementor-toggle-title {
    font-weight: bold;
    line-height: 1;
    padding: 15px;
    border-bottom: 1px solid #D4D4D4;
    cursor: pointer;

    .elementor-toggle-icon {
      display: inline-block;
      width: 1em;

      .fa:before {
        content: "\f0da";
      }
    }

    &.active {
      border-bottom: none;

      .elementor-toggle-icon {
        .fa:before {
          content: "\f0d7";
        }
      }
    }
  }

  .elementor-toggle-content {
    padding: 0 15px 15px;
    border-bottom: 1px solid #D4D4D4;
    display: none;
  }

  @media (max-width: 767px) {
    .elementor-toggle-title {
      padding: 12px;
    }

    .elementor-toggle-content {
      padding: 0 12px 10px;
    }
  }
}
