//
// Widgets
//

@import "widgets/heading";
@import "widgets/image";
@import "widgets/gallery";
@import "widgets/button";
@import "widgets/banner";
@import "widgets/divider";
@import "widgets/instagram";
@import "widgets/image-gallery";
@import "widgets/counter";
@import "widgets/alert";
@import "widgets/progress";
@import "widgets/accordion";
@import "widgets/toggle";
@import "widgets/icon";
@import "widgets/icon-list";
@import "widgets/video";
@import "widgets/image-carousel";
@import "widgets/image-hotspots";
@import "widgets/image-box";
@import "widgets/icon-box";
@import "widgets/testimonial";
@import "widgets/social-icons";
@import "widgets/menu-anchor";
@import "widgets/prestashop";